@font-face {
    font-family: 'Iosevka Type Slab';
    src: url('../fonts/iosevka.woff');
}

:root {
    --main-text-color-light: #363636;
    --main-text-color-dark: #fafafa;
    --secondary-text-color-light: #292929;
    --secondary-text-color-dark: #cfcfcf;

    --main-background-colour-light: #fafafa;
    --main-background-colour-dark: #363636;
}

html {
    background-color: var(--main-background-colour-light) !important;
}

#app {
    font-family: 'Iosevka';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 20px auto;
    max-width: 80vw;
}

p {
    color: var(--main-text-color-light);
    width: fit-content;
}

.social-media {
    color: var(--secondary-text-color-light);
}

.clickable:hover {
    text-decoration: underline;
    cursor: pointer;
}

.auto-margin-left {
    margin-left: auto;
}
