@font-face {
  font-family: "Iosevka Type Slab";
  src: url("../fonts/iosevka.woff");
}

html {
  background-color: #fafafa !important;
}

#app {
  font-family: "Iosevka";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 20px auto;
  max-width: 80vw;
}

p {
  color: #363636;
  width: fit-content;
}

.social-media {
  color: #292929;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.inverted {
  padding: 10px;
  background-color: #202020;
}